@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

a {
    color: #888;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 400;
    color: #000;
    letter-spacing: normal;
}

.clearfix::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

@mixin inner {
    position: relative;
    display: block;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

// .wrap {}

// --------------------변수 자리----------------------

$header-list-mr: 10px;
$header-list-mr2: calc($header-list-mr * 2);
$nav-font-size: 18px;
$gnb-vw-max: 1791px;
$gnb-vw-min: 1048px;
$border: 1px solid #e0e0e0;
$section-pt: 64px;

// <--------------------변수 자리----------------------

.header {
    left: 0;
    right: 0;
    top: 0;
    display: block;
    height: 96px;
    background: #000;
    z-index: 99;

    &__inner {
        @include inner();
        padding-top: 26px;
    }

    &__contents {
        display: flex;
        height: 44px;
        line-height: 44px;

        @at-root .header-left {
            display: flex;
            justify-content: flex-start;
            min-width: 420px;

            .header__logo {
                margin-left: 11px;
            }

            >ul {
                display: flex;

                >li {
                    margin-left: 30px;
                    font-size: 18px;
                    font-weight: 500;

                    >a {
                        color: #fff;
                    }
                }
            }
        }

        @at-root .header-right {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            ul {
                display: flex;

                li {
                    margin: 0px $header-list-mr;
                    position: relative;

                    a {
                        color: #fff;
                    }

                    &:nth-child(2n)::after {
                        content: '';
                        position: absolute;
                        display: block;
                        right: -21px;
                        top: calc(50% + 1px);
                        transform: translateY(-50%);
                        background: #fff;
                        width: 1px;
                        height: 14px;
                    }

                    &:nth-child(2n) {
                        margin-right: $header-list-mr2;
                    }

                    &:nth-child(2n+1) {
                        margin-left: $header-list-mr2;
                    }

                    &:last-child {
                        margin-right: $header-list-mr;
                    }

                    &:last-child::after {
                        display: none;
                    }
                }
            }

            &__cart {
                margin: 0px 11px;
            }

            &__gnb {
                margin: 0px 11px;
            }
        }
    }
}

.gnb {
    position: fixed;
    display: none;
    // display: block;
    right: 0;
    top: 0;
    width: 25vw;
    min-width: 257px;
    height: 100%;
    background: #fff;
    padding: 24px 32px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 40%);
    z-index: 999;

    &__button {
        position: relative;

        span {
            color: #000;
            font-size: 24px;
            font-weight: 700;
            line-height: 48px;
        }

        &-cart {
            position: absolute;
            right: 56px;
            top: 0;
            width: 48px;
            height: 48px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-close {
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
            height: 48px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__goods {
        margin-top: 28px;
        height: auto;
        border-bottom: $border;

        >span {
            position: relative;
            display: block;
            width: 100%;
            font-size: $nav-font-size;
        }

        &-wrap {
            display: flex;
            justify-content: center;
            align-content: space-between;
            flex-wrap: wrap;
            margin-top: 24px;
            height: auto;

            // @if $gnb-vw-max > 100vw and $gnb-vw-min < 100vw {
            //     justify-content: flex-start;
            // }
        }

        &-list {
            width: 96px;
            height: 126px;
        }

        &-box {
            display: block;
            height: 100%;
            padding: 20px 20px;

            img {
                position: relative;
                display: block;
                margin: 0 auto;
            }
        }

        &-text {
            display: block;
            text-align: center;
            font-size: $nav-font-size;
            color: #000;
            margin-top: 16px;
        }
    }

    &__menu {
        margin-top: 30px;

        li {
            margin: 10px 0;
            display: block;

            &:last-child {
                margin-top: 30px;
            }

            a {
                display: block;
                width: 100%;
                color: #000;
                line-height: 40px;
                font-weight: 700;
                font-size: $nav-font-size;
            }
        }
    }
}

.banner {
    height: 60px;
    display: block;
    background: #f8724f;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);

    @mixin banner-font {
        color: #fff;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
    }

    &__inner {
        @include inner();

        img {
            position: absolute;
            left: 58%;
            top: -8px;
            scale: 0.8;
            z-index: 1;
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        line-height: 60px;
    }

    &__left {
        @include banner-font();
        margin-left: 5px;
        width: 130px;
    }

    &__middle {
        @include banner-font();
        width: 440px;
        font-size: 17px;
        font-weight: 500;
        text-decoration: underline;
        text-underline-position: under;

        background: url('/img/banner_pork.png') no-repeat;
        background-size: 31%;
        background-position: 304px 2px;
    }

    &__right--close {
        @include banner-font();
        width: 60px;
        z-index: 5;

        i {
            margin-left: 8px;
        }
    }
}

.visual {
    position: relative;
    display: block;
    max-height: 560px;

    &__inner {
        @include inner();
        height: auto;
    }

    &__img {
        display: block;
        width: 100vw;
        max-width: 1200px;
        height: auto;

        img {
            width: 100vw;
            max-width: 1200px;
            height: auto;
        }
    }
}

.slider {
    position: relative;
    display: block;
    max-height: 312px;
    // background: #000;

    &__inner {
        @include inner();
        padding-top: $section-pt;
    }

    &__wrap {
        position: relative;
        display: flex;
        height: 100%;
    }

    &__left {
        width: 50%;
    }

    &__swiper {
        width: 100%;
        height: auto;
        max-width: 600px;

        img {
            display: block;
            width: 100%;
        }
    }

    &__button {
        position: absolute;
        display: flex;
        left: 32px;
        bottom: 0px;
        
        height: 30px;
        z-index: 98;
        background: #fff;
        border: $border;

        &--prev {
            display: block;
            background: url('/img/slide_prev.svg') no-repeat center;
            transform: rotateY(180deg);
            width: 30px;
            height: 100%;
            font-size: 0px;
            border: 0;
            cursor: pointer;
        }

        &--pg {
            display: block;
            width: 45px;
            height: 100%;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            font-weight: 700;
            color: #888;

            .swiper-pagination-current {
                font-weight: 700;
                color: #000;
            }
        }

        &--next {
            display: block;
            background: url('/img/slide_prev.svg') no-repeat center;
            width: 30px;
            height: 100%;
            font-size: 0px;
            border: 0;
            cursor: pointer;
        }
    }
    
    @media screen and (max-width: 1200px) {
        &__button {
            left: 15px
        }
    }

    &__right {
        width: 50%;
        border-left: $border;

        &--img {
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

.goods {
    position: relative;
    display: block;
    height: 1000px;

    &__inner {
        @include inner();
        padding-top: $section-pt;
    }
    &__wrap {
        display: flex;
        height: 100%;
    }
}